.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swift-version
*.d
*.o
*.swiftdeps
*.swiftdeps~
node_modules/
TestLog.txt
Bundle